@import url('http://fonts.googleapis.com/css?family=Jura:300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');

@font-face
	font-family 'Olin'
	src url('/font/olin/olin-webfont.eot')
	src url('/font/olin/olin-webfont.eot?#iefix') format('embedded-opentype'),
		url('/font/olin/olin-webfont.woff') format('woff'),
		url('/font/olin/olin-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

.olin:before
	display inline-block
	font-family Olin
	content 'l'
	font-size 2em
	font-style normal
	font-weight normal
	line-height .3
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

// Mixins
a-color(color, hover, active)
	a
		text-decoration none
		color color
		&:visited
			color color
		&:hover
			color hover
		&:active
			color active

/* Better styles for embedding GitHub Gists */
.gist
	font-size 14px
	line-height 18px
	margin-bottom 20px
	width 100%
	pre
		font-family Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important

.gist-meta
	font-family Helvetica,Arial,sans-serif
	font-size 14px !important
	a
		color #26a !important
		text-decoration none
		&:hover
			color #0e4071 !important

// Colors
dark-gray = #14151A
dark-dark-gray = darken(dark-gray, 40%)
accent = #1194CE

dim-blue = desaturate(darken(accent, 70%), 85%)
off-white = desaturate(lighten(accent, 95%), 50%)

text-color = off-white
bg-color = dark-dark-gray
footer-color = accent

// Sizes

header-padding = 1px
accent-size = 3em
footer-height = 120px

// Global config

a-color(rgba(text-color, 80%), text-color, darken(text-color, 50%))

html
	height 100%
	width 100%

body
	background-color bg-color
	font-family 'Open Sans'
	color text-color

	height 100%

div, body, header, h1, h2, h3, h4, h5, h6, img, ul, li, div
	padding 0px
	margin 0px

h1, h2, h3, h4, h5, h6
	font-family 'Alegreya Sans SC'

img
	max-width 100%

ul
	list-style none
	
// Includes
	
.project-snippet
	font-family 'Alegreya Sans SC'
	text-shadow 0px -1px rgba(0, 0, 0, .2)

	background-color dark-gray
	padding .1em 0px .2em .5em

	h1
		display inline-block

	.desc-item
		padding-right 1em

	.external-pin
		float right
		font-size 1.5em

.project-snippet-even
	background-color lighten(dark-gray, 5%)

// Modifiers
.center
	text-align center

.accent
	text-shadow none
	color accent
	font-size accent-size

// Global Layout

// Header

header
	padding header-padding 0px
	background-color dim-blue

	a-color(rgba(text-color, 70%), text-color, darken(text-color, 40%))

	li
		padding header-padding 1em

		font-family 'Jura'
		font-size 1.5em
		text-align center
		display inline
		text-shadow 0px -1px rgba(0, 0, 0, .2)

	li.active
		a
			color text-color
		background-color accent

ul#left-items
	display inline-table

ul#right-items
	float right

// Columns
.column-container
	width 100%
	display table

div.column
	display table-cell
	width 1%
	position relative

	@media (max-width: 700px)
		display block
		width 100%

// Banner (for putting a background behind content)

.banner
	text-align center
	margin-bottom 1em

	img
		width 100%
		height auto !important

.banner-content
	font-size 1.1em
	text-shadow 0px 1px 3px dim-blue,
				0px 1px 3px dim-blue,
				0px 1px 3px dim-blue
	width 100%
	position absolute
	z-index 1

.banner-bg
	width 100%

// About banners
about-height = 5em

.about.banner
	height about-height

.about.banner-bg
	i
		font-size about-height
		color rgba(0, 0, 0, 0)
		text-shadow 0px 1px 3px dim-blue,
					0px 1px 5px dim-blue,
					0px 1px 9px dim-blue,
					0px 1px 13px dim-blue,
					0px 1px 19px dim-blue

// Index banners



// Post banners



// Content Container

#container
	background-color dark-gray

	clear both
	height auto
	min-height 100%
	padding-bottom footer-height

	margin auto

	p
		padding 0px 1em

#post-container
	@extends #container
	padding 0 1em

// Footer

footer
	clear both
	width 100%
	display table
	position relative
	z-index 2
	height footer-height
	margin-top - footer-height

	#content
		display table-cell
		vertical-align middle
		font-size 0.8em

		text-align center
		text-shadow 0px 1px rgba(0, 0, 0, .2)
		a
			border-bottom 1px dotted text-color
			text-decoration none
			&:hover
				border-bottom 1px solid text-color
			&:active
				color text-color

	background-color footer-color

// About

.milestone
	text-align center
	.number
		@extends .accent

// Posts

.banana
	clear both
	width 100%
	display table
	h1
		display table-cell
		vertical-align middle
	font-family 'Alegreya Sans SC'
	text-align center

	background-color darken(dim-blue, 30%)
	text-shadow 0px 1px 3px dim-blue,
				0px 1px 3px dim-blue,
				0px 1px 3px dim-blue