@font-face
	font-family 'Olin'
	src url('/font/olin/olin-webfont.eot')
	src url('/font/olin/olin-webfont.eot?#iefix') format('embedded-opentype'), url('/font/olin/olin-webfont.woff') format('woff'), url('/font/olin/olin-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

.olin:before
	display inline-block
	font-family Olin
	content 'l'
	font-size 2em
	font-style normal
	font-weight normal
	line-height .35
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

// gist.github.com/d3vron/1080346
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

a-color(color, hover, active)
	a
		text-decoration none
		color color
		&:visited
			color color
		&:hover
			color hover
		&:active
			color active

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)
	
user-select()
	vendor('user-select', arguments)
	
flexbox()
	vendor('flexbox', arguments)
	
flex()
	vendor('flex', arguments)

snippet(size)
	font-family font-text
	text-shadow snippet-text-shadow

	padding snippet-padding

	h1, h2
		font-family font-big-header
		display inline
		text-shadow snippet-text-shadow

	h1
		font-size size * 1em
	h2
		font-size size * .6em
		transition color quickly

proj-snip(size)
	snippet(size)
	padding 0px
	position relative
	overflow hidden

	width auto

	margin-bottom 2em

	.project.banner
		position relative
		.post-bg-overlay
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient(rgba(0, 0, 0, .6), transparent)
			transition height quickly
			z-index -10000

	.project-details
		position absolute
		left 0
		right 0
		overflow scroll

		background-color dim-blue

	&.open
		background-color dark-dark-gray
		right 0
		top 0
		left 0
		bottom 0
		min-height 100%
		position fixed
		z-index 10000
			
	&.active
		h1
			font-size 2*1em
		h2
			font-size 1.5em
		.date
			font-size 2*.6em
			
		*
			margin 0 auto
		
		.project.banner-content
			cursor auto
			max-width (900 - 2*16) px
		
		.project-details
			max-width 900px
			height 100%

		.post-bg
			max-width 900px
			background-color dim-blue
			height 100%

	.post-bg
		position absolute
		top 0
		left 0
		right 0

		width 100%

		padding 0px
		overflow hidden

		.post-banner
			overflow hidden
			width 100%

	.project.banner-content
		cursor pointer
		
		position relative
		padding size*.5em 16px
		width auto
		
		text-shadow snippet-text-shadow
		
		h1, h2
			transition font-size quickly

		.post-header
			color text-color

	.proj-content
		font-family font-text

		opacity 0
		overflow hidden
		padding 0 1.5em
		margin-bottom 10em
		padding-bottom 1em
		
		h2
			display block
			margin-bottom .5em

	h1
		vertical-align middle

	.date
		vertical-align middle
		display inline
		padding-left .6em
		white-space nowrap

	.desc-container
		.desc-item
			white-space nowrap
			padding-right 1em

	.pin-container
		float right
		.external-pin
			display inline
			font-size 1.4em

quickly = 200ms

// Colors

dark-gray = #14151A
dark-dark-gray = darken(dark-gray, 40%)
accent = #1194CE

dim-blue = desaturate(darken(accent, 70%), 85%)
off-white = desaturate(lighten(accent, 95%), 50%)

dim-text = desaturate(lighten(dim-blue, 30%), 30%)

// Site Colors

text-color = off-white
body-bg-color = dark-dark-gray
inset-color = dark-gray
header-color = dim-blue
footer-color = accent
container-color = dark-gray
snippet-color = dark-gray

// Styles
snippet-text-shadow = 0px 1px rgba(dark-dark-gray, .6)

font-text = 'Open Sans'
font-header = 'Exo 2'
font-big-header = 'Open Sans'

// Sizes

header-padding = 0px
accent-size = 3em
footer-height = 120px

about-height = 5em

snippet-padding = .1em .2em .2em .5em

// Global config

a-color(rgba(text-color, 80%), text-color, darken(text-color, 40%))

p
	a-color(lighten(accent, 20%), lighten(accent, 20%), darken(text-color, 50%))
	a
		border-bottom 1px solid rgba(text-color, 50%)
		&:hover
			border-bottom 1px solid accent
		&:active
			text-shadow 0px -1px dark-dark-gray

html
	height 100%
	width 100%

body
	background-color body-bg-color
	font-family font-text
	font-weight 300
	color text-color

	height 100%

.hidden
	display none !important

*
	padding 0px
	margin 0px

h1, h2, h3
	font-family font-big-header
	font-weight 300
	font-variant small-caps

h4, h5, h6
	font-family font-header

img
	max-width 100%

ul
	list-style none

// Includes

.snippet
	snippet(1)

.project.snippet.imp0
	proj-snip(2)

.project.snippet.imp1
	proj-snip(1)

// Modifiers
.center
	text-align center

.accent
	text-shadow none
	color accent
	font-size accent-size
	font-weight 300

.hidden
	display none

// GLOBAL

// Header

header
	padding header-padding 0px
	background-color header-color

	a-color(rgba(text-color, 70%), text-color, darken(text-color, 40%))

	li
		padding header-padding

		font-family font-header
		font-size 1.4em
		text-align center
		text-shadow 0px -1px rgba(0, 0, 0, .2)

		@media (min-width: 560px)
			padding header-padding 1em
			display inline

	li.active
		a
			color text-color
		background-color accent

// Global containers

#container
	overflow hidden
	position relative
	background-color container-color

	min-height 100%
	padding-bottom footer-height

	margin auto
	max-width 900px

#content-container
	padding 0 1em

// Footer

footer
	clear both
	width 100%
	display table
	position relative
	z-index 2
	height footer-height
	margin-top - footer-height

	font-size 1.1em
	#content
		padding 2em
		.contact
			line-height 3em
			div
				display inline
				padding .5em
		display table-cell
		vertical-align middle
		font-size 0.8em

		color lighten(accent, 60%)

		text-align center
		text-shadow 0px -1px dark-gray
		a
			text-shadow 0px 1px dark-gray
			&:hover
				color text-color
			&:active
				color text-color
				text-shadow 0px -1px dark-gray

	background-color footer-color

// Columns

.column-container
	width 100%
	display table

.column
	display table-cell
	width 1%
	position relative

	@media  (max-width: 700px)
		display block
		width 100%

// Banner

.banner-content
	width 100%
	position absolute
	z-index 1

.banner-bg
	width 100%

// Home banners

.about.banner
	text-align center
	padding 1em 0
	height about-height

.about.banner-content
	font-size 1.1em

.about.banner-bg
	i
		font-size about-height
		color dim-blue

// Index banners

.index-banner
	width 100%
	h1
		font-size 2em
		background-color dark-dark-gray
		text-align center
	img
		width 100%
		height auto !important

// Post banners

.post.banner
	overflow hidden
	position relative

.post.banner-content
	transition opacity quickly
	@media (min-width: 700px)
		top 50%
		height 3em
		margin-top -1.5em

// HOME

.greeting-container
	padding 0px
	margin 0 -1em
	.greeting-content
		padding-left .7em
		z-index 1
		position absolute
		bottom 0px
		text-align center
		.greeting-name
			font-family 'Lato'
			@extends .accent

		.greeting-header
			font-family font-header
			font-size 1.2em

.milestone
	text-align center
	.number
		font-family 'Lato'
		@extends .accent

// SKILLS

#category-container
	user-select none

.category.one
	background-color lighten(dark-dark-gray, 8%)

.category.two
	background-color lighten(dark-dark-gray, 4%)

.category.three
	background-color lighten(dark-dark-gray, 1%)

.category.banner
	padding 1em 0
	text-align center

.skill
	transition background-color quickly
	h2
		cursor pointer
	&:hover
		background-color darken(accent, 20%) !important
	.values
		background-color darken(accent, 20%)
		.example
			width 100%
			display block
			transition background-color quickly
			&:hover
				background-color accent

// EXPERIENCE

#exp-container
	position relative
	display flex

.experience
	text-shadow snippet-text-shadow
	position absolute
	padding 0px

	transition background-color quickly

	.textbox
		padding snippet-padding
		position relative
		background-color inherit
		z-index 6

		h2, a
			display inline
			width 100%
			padding-right .2em
			background-color inherit
			@media (min-width: 400px)
				white-space nowrap

	.exp-content
		font-family font-text

		margin 1em
		height 0px
		overflow hidden
		transition height quickly

	&:hover
		background-color darken(accent, 20%) !important

	&.selected
		padding 0px 1em

	&.one
		background-color lighten(dark-dark-gray, 20%)
		&.selected:hover
				background-color lighten(dark-dark-gray, 20%) !important
	&.two
		background-color lighten(dark-dark-gray, 15%)
		&.selected:hover
				background-color lighten(dark-dark-gray, 15%) !important
	&.three
		background-color lighten(dark-dark-gray, 10%)
		&.selected:hover
				background-color lighten(dark-dark-gray, 10%) !important

.track
	vertical-align top
	position relative
	display inline-block

	transition width quickly

	height 100%
	background-color container-color

.track.selected
	z-index 100 !important

#experience
	flex 1 0 auto
	overflow hidden
	
#time-container
	flex 0 1 6em

	div
		width 100%
		position absolute

	.month
		padding-left .5em
		font-family font-big-header
		color lighten(container-color, 30%)
		border-top 1px solid lighten(container-color, 50%)

	.year
		color lighten(container-color, 70%)

// PROJECT DETAILS

.project-specs
	margin 1.5em !important
	position relative

	.close-button
		transition color quickly
		
		text-align center
		position absolute
		top .1em
		left .1em
		width 30px
		height 30px
		color dim-blue
		text-shadow 0px -1px dark-dark-gray

		cursor pointer

	.specs-image
		@media (min-width: 600px)
			position absolute
			right 1.5em
			top 50%
			transform translateY(-50%)
			display inline-block
		height 200px
		width auto
		display block
		margin-left auto
		margin-right auto
	.specs-content
		@media (min-width: 600px)
			display inline-block
			vertical-align top
			min-height 180px
			text-align left
			padding-top .5em
			
		text-align center

		li
			padding .5em
.box
	background-color inset-color
	margin .5em
	padding 1.5em
	clear both
	position relative
.image-box
	@extends .box
	img
		width 100%
	.caption
		text-align center
.image-box.center
	width 80%
	margin-left auto
	margin-right auto