@import font
@import vendor

a-color(color, hover, active)
  a
    text-decoration none
    color color
    &:visited
      color color
    &:hover
      color hover
    &:active
      color active

quickly = 200ms
font-size = 18px

doc-font()
  font-family DIN
  font-weight 300
  font-size font-size

// Colors

dark-gray = #14151A
dark-dark-gray = darken(dark-gray, 40%)
accent = #1194CE

dim-blue = desaturate(darken(accent, 70%), 85%)
off-white = desaturate(lighten(accent, 95%), 50%)

dim-text = desaturate(lighten(dim-blue, 30%), 30%)

// Site Colors

text-color = black
body-bg-color = white
inset-color = dark-gray
header-color = dim-blue
footer-color = accent
container-color = white

// Sizes

header-padding = 0px
accent-size = 3em
footer-height = 120px

about-height = 5em

snippet-padding = 3px 8px 3px 8px

// Global config

a-color(rgba(text-color, 80%), text-color, darken(text-color, 40%))

html
  height 100%
  width 100%

body
  doc-font()
  background-color body-bg-color
  color text-color

  height 100%

*
  padding 0px
  margin 0px

h1, h2, h3, h4, h5, h6
  font-weight 300

ul
  list-style none

header
  padding 0
  background-color header-color

  a-color(rgba(text-color, 70%), text-color, darken(text-color, 40%))
  ul
    @media (min-width: 560px)
      display table
    margin 0 auto
  li
    padding 4px 16px

    font-size 1.4em
    text-align center
    text-shadow 0px -1px rgba(0, 0, 0, .2)

    @media (min-width: 560px)
      padding 12px 16px
      display inline-block

  li.active
    a
      color text-color
    background-color accent

#proj-container
  .proj
    padding 1rem
    
    background-color #eee
      
    border-bottom 1px solid rgba(black, .1)
    
    h1
      font-size 3rem
      em
        font-family DIN
        font-style normal
        font-weight 900
    
    .proj-bg
      width 100%
      
    .proj-details
      display none

    &:hover
      background-color white
      cursor pointer
    
    &.imp0
      flex 1 1 2
    
    &.imp1
      flex 1 1 1

#container
  overflow hidden
  position relative
  background-color container-color

  min-height 100%
  padding-bottom footer-height

  margin auto
  max-width 900px

footer
  clear both
  width 100%
  display table
  position relative
  z-index 2
  height footer-height
  margin-top - footer-height

  font-size 1.1em
  #content
    padding 2em
    .contact
      line-height 3em
      div
        display inline
        padding .5em
    display table-cell
    vertical-align middle
    font-size 0.8em

    color lighten(accent, 60%)

    text-align center
    text-shadow inset-shadow
    a
      text-shadow outset-shadow
      &:hover
        color text-color
      &:active
        color text-color
        text-shadow inset-shadow

  background-color footer-color