---
title: Test page
---

!!!5
html
	head
		title {{page.title}}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Evan Dorsky
			p
				| I'm Evan Dorsky. I'm a student at 
				a(href='http://www.olin.edu', alt='test') Olin College. 
		.content
			.project
				img(src='/img/poe-pyrois/board.jpg')
			.project
				img(src='/img/cpu/a7-temp.jpg')
			.project
				img(src='/img/poe-petri/petri.jpg')
			.project
				img(src='/img/poe-lidar/lidar.jpg')
			.project
				img(src='/img/educanon/educanon.jpg')
			.project
				img(src='/img/origami/dodecahedron.jpg')
			.project
				img(src='/img/stuff-ultracaps/sem.jpg')
			.project
				img(src='/img/stuff-bronze/bells-clean.jpg')
			.project
				img(src='/img/billiards/break-model.png')
			.project
				img(src='/img/hopper/front-real.jpg')

	script(src='/js/zepto.min.js')
	script(src='/js/underscore-min.js')
	//- script(src='/js/layout.js')