<script type="text/javascript">
(function() {
	// Dictionary for external links
	var exts = [
	{% for post in site.posts %}
		{% for ext in post.external %}
			["{{ ext[0] }}", "{{ ext[1] }}"],
		{% endfor %}
	{% endfor %}
	]

	window.externals = {}

	for (var i in exts) {
		var ext = exts[i]
		if (externals[ext[0]])
			externals[ext[0]].push(ext[1])
		else
			externals[ext[0]] = [ext[1]]
	}

	// Dictionary for specs

	var specs  = [
	{% for post in site.posts %}
		{% for spec in post.specs %}
			{% for s in spec[1] %}
				["{{ spec[0] }}","{{ s }}" , "{{ post.url }}", "{{ post.title }}"],
			{% endfor %}
		{% endfor %}
	{% endfor %}
	]

	window.specifications = {}

	for (var i in specs) {
		var spec = specs[i]
		var specObj = {}
		specObj[spec[1]] = {url: spec[2], title: spec[3]}

		if (specifications[spec[0]]) {
			if (specifications[spec[0]][spec[1]])
				specifications[spec[0]][spec[1]].push(specObj[spec[1]])
			else
				specifications[spec[0]][spec[1]] = [ specObj[spec[1]] ]
		}
		else {
			specifications[spec[0]] = {}
			specifications[spec[0]][spec[1]] = [ specObj[spec[1]] ]
		}
	}

	// Generating DOM from specs

	window.onload = function() {
		var catsContainer = $("#category-container")
		var i = 0, k = 0
		var colContainer
		for (var cat in specifications) {
			if (i%2 === 0) {
				catsContainer.append("<div class='column-container' number="+i+"></div>")
				colContainer = catsContainer.find('[number='+i+']')
			}

			if (k === 0)
				colContainer.append("<div class='category column banner one' category='"+cat+"'><i class='fa fa-fw fa-3x fa-"+cat+"'></i>")
			if (k === 1)
				colContainer.append("<div class='category column banner two' category='"+cat+"'><i class='fa fa-fw fa-3x fa-"+cat+"'></i>")
			if (k === 2)
				colContainer.append("<div class='category column banner three' category='"+cat+"'><i class='fa fa-fw fa-3x fa-"+cat+"'></i>")

			var catContainer = colContainer.find('[category='+cat+']')
			var catList = specifications[cat]
			for (var type in catList) {
				var entries = catList[type]
				catContainer.append("<div class='type' type='"+type+"'><h2>"+type+"</h2></div>")
				for (var j in entries) {
					var entry = entries[j]
					catContainer.append('<a href="'+entry.url+'">'+entry.title+'</a><br>')
				}
			}

			i++
			k = (k+1)%3
		}
	}
})()
</script>
<div id="category-container">
</div>