<script type="text/javascript">
(function() {
	// Dictionary for external links
	var exts = [
	{% for post in site.posts %}
		{% for ext in post.external %}
			["{{ ext[0] }}", "{{ ext[1] }}"],
		{% endfor %}
	{% endfor %}
	]

	window.externals = {}

	for (var i in exts) {
		var ext = exts[i]
		if (externals[ext[0]])
			externals[ext[0]].push(ext[1])
		else
			externals[ext[0]] = [ext[1]]
	}

	// Dictionary for specs

	var specs  = [
	{% for post in site.posts %}
		{% for spec in post.specs %}
			{% for value in spec[1] %}
				{
					value: "{{ value }}",
					icon: "{{ spec[0] }}",
					url: "{{ post.url }}",
					title: "{{ post.title }}"
				},
			{% endfor %}
		{% endfor %}
	{% endfor %}
	]

	window.specifications = {}

	var spec, icon, value
	for (var i in specs) {
		spec = specs[i]
		icon = spec.icon
		value = spec.value

		if (specifications[icon]) {
			if (specifications[icon][value])
				specifications[icon][value].push(spec)
			else
				specifications[icon][value] = [ spec ]
		}
		else {
			specifications[icon] = {}
			specifications[icon][value] = [ spec ]
		}
	}


	for (var icon in specifications) {
		var catList = specifications[icon]
		var catFreq = Object.keys(catList).length

		for (var type in catList) {
			var typeList = catList[type]
			var typeFreq = Object.keys(typeList).length

			catList[type] = {freq: typeFreq, typeList: typeList, type: type}
		}

		specifications[icon] = {freq: catFreq, icon: catList}
	}

	for (var icon in specifications) {
		specifications[icon].icon = _.sortBy(specifications[icon].icon, function(spec) {
			return -spec.freq
		})		
	}


	// Generating DOM from specs

	window.onload = function() {
		var catsContainer = $("#category-container")
		var i = 0, k = 0
		var colContainer
		for (var icon in specifications) {
			var catList = specifications[icon].icon
			var catFreq = specifications[icon].freq

			if (catFreq < 2)
				continue
			if (i%2 === 0) {
				catsContainer.append("<div class='column-container' number="+i+"></div>")
				colContainer = catsContainer.find('[number='+i+']')
			}

			switch (k) {
				case 0:
					colContainer.append("<div class='category column banner one' category='"+icon+"' freq='"+catFreq+"'><i class='fa fa-fw fa-3x fa-"+icon+"'></i>")
					break
				case 1:
					colContainer.append("<div class='category column banner two' category='"+icon+"' freq='"+catFreq+"'><i class='fa fa-fw fa-3x fa-"+icon+"'></i>")
					break
				case 2:
					colContainer.append("<div class='category column banner three' category='"+icon+"' freq='"+catFreq+"'><i class='fa fa-fw fa-3x fa-"+icon+"'></i>")
					break
			}

			var catContainer = colContainer.find('[category='+icon+']')
			for (var type in catList) {

				var entries = catList[type].typeList
				var freq = catList[type].freq
				var title = catList[type].type

				catContainer.append("<div class='type' type='"+title+"' freq="+freq+"><h2 style='font-size:"+(freq*20)+"px'>"+title+"</h2></div>")
				var typeContainer = catContainer.find('[type="'+title+'"]')
				for (var j in entries) {
					var entry = entries[j]
					typeContainer.append('<a href="'+entry.url+'">'+entry.title+'</a><br>')
				}
			}

			i++
			k = (k+1)%3
		}
	}
})()
</script>
<div id="category-container">
</div>