<div class="experience snippet {% cycle 'odd', 'even' %}" style="width: {{ 99 | divided_by: forloop.length}}%" start="{{ post.dates[0] }}" end="{{ post.dates[1] }}">
	<div class="inner">
		<a href="{{ post.url }}"><h1>{{ post.title }}</h1></a> – <a href="{{ post.where[1] }}">{{ post.where[0] }}</a>

		<div class="desc-container">
			{% if post.team %}
			<span class="desc-item"><i class="fa fa-fw fa-user"></i>{{ post.team }}</span>
			{% endif %}
			{% for spec in post.specs %}
			<span class="desc-item"><i class="fa fa-fw fa-{{ spec[0] }}"></i>{% for s in spec[1] %}
				{{ s }}{% unless forloop.last %}, {% endunless %}
				{% endfor %}</span>
			{% endfor %}
		</div>	
	</div>
</div>