{% include project-snippet.html title="Bike-Charged Supercapacitors" team="4" code="C" icon0="fa-bolt" %}
{% include project-snippet.html title="A Working CPU From Scratch" team="4" code="Verilog" icon0="fa-bolt" %}
{% include project-snippet.html title="Automated Petri Dish Scanner" team="2" code="Arduino C" icon0="fa-wrench" %}
{% include project-snippet.html title="Infrared 3D Scanner" team="2" code="Arduino C" icon0="" %}
{% include project-snippet.html title="A Webapp to Empower Teachers" team="5" code="JavaScript, PHP" icon0="" %}
{% include project-snippet.html title="Large Scale Modular Origami" team="100+" icon0="" %}
{% include project-snippet.html title="Graphene Ultracapacitors" team="4" code="d3.js" icon0="fa-flask" %}
{% include project-snippet.html title="Cast Bronze Bells" team="4" icon0="fa-flask" %}
{% include project-snippet.html title="Billiards Modeled and Analyzed" team="2" code="MATLAB, Objective-C" icon0="" %}
{% include project-snippet.html title="Plastic Froghopper" team="1" icon0="fa-wrench" %}
{% include project-snippet.html title="Electric Fields" team="1" code="Objective-C++, OpenGL ES" icon0="" %}