<div class="project">
<img class="hover" alt="poe" src="/img/poe-pyrois/board.jpg">
</div>
<div class="project">
<img class="hover" alt="cpu" src="/img/cpu/a7-temp.jpg">
</div>
<div class="project">
<img class="hover" alt="poe" src="/img/poe-petri/petri.jpg">
</div>
<div class="project">
<img class="hover" alt="poe" src="/img/poe-lidar/lidar.jpg">
</div>
<div class="project">
<img class="hover" alt="educanon" src="/img/educanon/educanon.jpg">
</div>
<div class="project">
<img class="hover" alt="origami" src="/img/origami/dodecahedron.jpg">
</div>
<div class="project">
<img class="hover" alt="stuff" src="/img/stuff-ultracaps/sem.jpg">
</div>
<div class="project">
<img class="hover" alt="stuff" src="/img/stuff-bronze/bells-clean.jpg">
</div>
<div class="project">
<img class="hover" alt="billiards" src="/img/billiards/break-model.png">
</div>
<div class="project">
<img class="hover" alt="hopper" src="/img/hopper/front-real.jpg">
</div>
<div class="project">
<img class="hover" alt="efields" src="/img/efields/field.png">
</div>