<div class="project-snippet project-snippet-{% cycle 'odd', 'even' %}">
	<h1>{{ include.title }}</h1>
	<div class="desc-container">
		{% if include.team %}
		<span class="desc-item"><i class="e user"></i>{{ include.team }}</span>
		{% endif %}
		{% if include.code %}<span class="desc-item"><i class="e code"></i>{{ include.code }}</span>
		{% endif %}
		{% if include.icon0 %}<span class="desc-item"><i class="e {{ include.icon0 }}"></i></span>
		{% endif %}
		{% if include.icon1 %}<span class="desc-item"><i class="e {{ include.icon1 }}"></i></span>
		{% endif %}
	</div>
</div>