@font-face {
  font-family: 'Olin';
  src: url("/font/olin/olin-webfont.eot");
  src: url("/font/olin/olin-webfont.eot?#iefix") format('embedded-opentype'), url("/font/olin/olin-webfont.woff") format('woff'), url("/font/olin/olin-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("/font/x-font/icomoon.eot?-vv26i9");
  src: url("/font/x-font/icomoon.eot?#iefix-vv26i9") format('embedded-opentype'), url("/font/x-font/icomoon.woff?-vv26i9") format('woff'), url("/font/x-font/icomoon.ttf?-vv26i9") format('truetype'), url("/font/x-font/icomoon.svg?-vv26i9#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e680";
}
.olin:before {
  display: inline-block;
  font-family: Olin;
  content: 'l';
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 0.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: rgba(245,249,251,0.8);
}
a:visited {
  color: rgba(245,249,251,0.8);
}
a:hover {
  color: #f5f9fb;
}
a:active {
  color: #67a4c2;
}
p {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 0.03em;
  font-size: 18px;
}
p a {
  text-decoration: none;
  color: #2bb2ed;
}
p a:visited {
  color: #2bb2ed;
}
p a:hover {
  color: #2bb2ed;
}
p a:active {
  color: #478eb1;
}
p a {
  border-bottom: 1px solid rgba(245,249,251,0.5);
}
p a:hover {
  border-bottom: 1px solid #1194ce;
}
p a:active {
  text-shadow: 0px -1px rgba(12,13,16,0.4);
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #f5f9fb;
  height: 100%;
}
.hidden {
  display: none !important;
}
* {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
h4,
h5,
h6 {
  font-family: 'Exo 2';
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.snippet {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 3px 8px 3px 8px;
}
.snippet h1,
.snippet h2 {
  font-family: 'Lato', sans-serif;
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.snippet h1 {
  font-size: 1.5em;
}
.snippet h2 {
  font-size: 1.2em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp0 {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 3px 8px 3px 8px;
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 300px;
}
.project.snippet.imp0 h1,
.project.snippet.imp0 h2 {
  font-family: 'Lato', sans-serif;
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp0 h1 {
  font-size: 1.5em;
}
.project.snippet.imp0 h2 {
  font-size: 1.2em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp0 .project.banner {
  height: 300px;
  position: relative;
}
.project.snippet.imp0 .project.banner .post-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.project.snippet.imp0 .project.banner .post-bg.active .post-bg-overlay {
  opacity: 0;
}
.project.snippet.imp0 .project.banner .img-fadeout {
  position: absolute;
  bottom: 0;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(transparent, #000);
}
.project.snippet.imp0 .project-details {
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: #000;
}
.project.snippet.imp0 .project.banner-content {
  position: relative;
  height: 300px;
}
.project.snippet.imp0 .project.banner-content .title-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.project.snippet.imp0 .project.banner-content .title-container h1,
.project.snippet.imp0 .project.banner-content .title-container h2 {
  display: block;
  margin: 0 auto;
}
.project.snippet.imp0.open {
  background-color: #000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  position: fixed;
  z-index: 10000;
}
.project.snippet.imp0.active h1 {
  font-size: 2em;
}
.project.snippet.imp0.active h2 {
  font-size: 1.5em;
}
.project.snippet.imp0.active .date {
  font-size: 1.2em;
}
.project.snippet.imp0.active .project-details {
  margin: 0 auto;
}
.project.snippet.imp0.active .project.banner {
  margin: 0 auto;
}
.project.snippet.imp0.active .project.banner-content {
  height: 300px;
}
.project.snippet.imp0.active .img-fadeout {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.project.snippet.imp0.active .project-details {
  max-width: 900px;
  height: 100%;
}
.project.snippet.imp0.active .post-bg {
  margin: 0 auto;
  height: 100%;
}
.project.snippet.imp0 .post-bg {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.project.snippet.imp0 .post-bg .post-banner {
  overflow: hidden;
  width: 100%;
}
.project.snippet.imp0 .project.banner-content {
  cursor: pointer;
  position: relative;
  width: auto;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp0 .project.banner-content h1,
.project.snippet.imp0 .project.banner-content h2 {
  -webkit-transition: font-size 200ms;
  -moz-transition: font-size 200ms;
  -ms-transition: font-size 200ms;
  -o-transition: font-size 200ms;
  transition: font-size 200ms;
}
.project.snippet.imp0 .project.banner-content .post-header {
  color: #f5f9fb;
}
.project.snippet.imp0 .proj-content {
  font-family: 'Open Sans';
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5em;
  margin-bottom: 10em;
  padding-bottom: 1em;
}
.project.snippet.imp0 .proj-content p {
  padding: 0 3em;
}
.project.snippet.imp0 .proj-content h2 {
  display: block;
  margin-bottom: 0.5em;
}
.project.snippet.imp0 .date {
  white-space: nowrap;
}
.project.snippet.imp0 .desc-container .desc-item {
  white-space: nowrap;
  padding-right: 1em;
}
.project.snippet.imp0 .pin-container {
  position: absolute;
  right: 1em;
  top: 1em;
}
.project.snippet.imp0 .pin-container .external-pin {
  display: inline;
  font-size: 1.4em;
}
.project.snippet.imp1 {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 3px 8px 3px 8px;
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 300px;
}
.project.snippet.imp1 h1,
.project.snippet.imp1 h2 {
  font-family: 'Lato', sans-serif;
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp1 h1 {
  font-size: 1.5em;
}
.project.snippet.imp1 h2 {
  font-size: 1.2em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp1 .project.banner {
  height: 300px;
  position: relative;
}
.project.snippet.imp1 .project.banner .post-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.project.snippet.imp1 .project.banner .post-bg.active .post-bg-overlay {
  opacity: 0;
}
.project.snippet.imp1 .project.banner .img-fadeout {
  position: absolute;
  bottom: 0;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(transparent, #000);
}
.project.snippet.imp1 .project-details {
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: #000;
}
.project.snippet.imp1 .project.banner-content {
  position: relative;
  height: 300px;
}
.project.snippet.imp1 .project.banner-content .title-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.project.snippet.imp1 .project.banner-content .title-container h1,
.project.snippet.imp1 .project.banner-content .title-container h2 {
  display: block;
  margin: 0 auto;
}
.project.snippet.imp1.open {
  background-color: #000;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  position: fixed;
  z-index: 10000;
}
.project.snippet.imp1.active h1 {
  font-size: 2em;
}
.project.snippet.imp1.active h2 {
  font-size: 1.5em;
}
.project.snippet.imp1.active .date {
  font-size: 1.2em;
}
.project.snippet.imp1.active .project-details {
  margin: 0 auto;
}
.project.snippet.imp1.active .project.banner {
  margin: 0 auto;
}
.project.snippet.imp1.active .project.banner-content {
  height: 300px;
}
.project.snippet.imp1.active .img-fadeout {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
.project.snippet.imp1.active .project-details {
  max-width: 900px;
  height: 100%;
}
.project.snippet.imp1.active .post-bg {
  margin: 0 auto;
  height: 100%;
}
.project.snippet.imp1 .post-bg {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.project.snippet.imp1 .post-bg .post-banner {
  overflow: hidden;
  width: 100%;
}
.project.snippet.imp1 .project.banner-content {
  cursor: pointer;
  position: relative;
  width: auto;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp1 .project.banner-content h1,
.project.snippet.imp1 .project.banner-content h2 {
  -webkit-transition: font-size 200ms;
  -moz-transition: font-size 200ms;
  -ms-transition: font-size 200ms;
  -o-transition: font-size 200ms;
  transition: font-size 200ms;
}
.project.snippet.imp1 .project.banner-content .post-header {
  color: #f5f9fb;
}
.project.snippet.imp1 .proj-content {
  font-family: 'Open Sans';
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5em;
  margin-bottom: 10em;
  padding-bottom: 1em;
}
.project.snippet.imp1 .proj-content p {
  padding: 0 3em;
}
.project.snippet.imp1 .proj-content h2 {
  display: block;
  margin-bottom: 0.5em;
}
.project.snippet.imp1 .date {
  white-space: nowrap;
}
.project.snippet.imp1 .desc-container .desc-item {
  white-space: nowrap;
  padding-right: 1em;
}
.project.snippet.imp1 .pin-container {
  position: absolute;
  right: 1em;
  top: 1em;
}
.project.snippet.imp1 .pin-container .external-pin {
  display: inline;
  font-size: 1.4em;
}
.center {
  text-align: center;
}
.accent,
.greeting-container .greeting-content .greeting-name,
.milestone .number {
  text-shadow: none;
  color: #1194ce;
  font-size: 3em;
  font-weight: 300;
}
.hidden {
  display: none;
}
header {
  padding: 0;
  background-color: #1d2326;
}
header a {
  text-decoration: none;
  color: rgba(245,249,251,0.7);
}
header a:visited {
  color: rgba(245,249,251,0.7);
}
header a:hover {
  color: #f5f9fb;
}
header a:active {
  color: #67a4c2;
}
header ul {
  margin: 0 auto;
}
@media (min-width: 560px) {
  header ul {
    display: table;
  }
}
header li {
  padding: 4px 16px;
  font-family: 'Exo 2';
  font-size: 1.4em;
  text-align: center;
  text-shadow: 0px -1px rgba(0,0,0,0.2);
}
@media (min-width: 560px) {
  header li {
    padding: 12px 16px;
    display: inline-block;
  }
}
header li.active {
  background-color: #1194ce;
}
header li.active a {
  color: #f5f9fb;
}
#container {
  overflow: hidden;
  position: relative;
  background-color: #000;
  min-height: 100%;
  padding-bottom: 120px;
  margin: auto;
}
#content-container {
  padding: 0 1em;
}
footer {
  clear: both;
  width: 100%;
  display: table;
  position: relative;
  z-index: 2;
  height: 120px;
  margin-top: -120px;
  font-size: 1.1em;
  background-color: #1194ce;
}
footer #content {
  padding: 2em;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
  color: #95d8f6;
  text-align: center;
  text-shadow: 0px -1px rgba(12,13,16,0.4);
}
footer #content .contact {
  line-height: 3em;
}
footer #content .contact div {
  display: inline;
  padding: 0.5em;
}
footer #content a {
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
footer #content a:hover {
  color: #f5f9fb;
}
footer #content a:active {
  color: #f5f9fb;
  text-shadow: 0px -1px rgba(12,13,16,0.4);
}
.column-container {
  width: 100%;
  display: table;
}
.column {
  display: table-cell;
  width: 1%;
  position: relative;
}
@media (max-width: 700px) {
  .column {
    display: block;
    width: 100%;
  }
}
.banner-content {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.banner-bg {
  width: 100%;
}
.about.banner {
  text-align: center;
  padding: 1em 0;
  height: 5em;
}
.about.banner-content {
  font-size: 1.1em;
}
.about.banner-bg i {
  font-size: 5em;
  color: #1d2326;
}
.index-banner {
  width: 100%;
}
.index-banner h1 {
  font-size: 2em;
  background-color: #0c0d10;
  text-align: center;
}
.index-banner img {
  width: 100%;
  height: auto !important;
}
.post.banner {
  overflow: hidden;
  position: relative;
}
.post.banner-content {
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
@media (min-width: 700px) {
  .post.banner-content {
    top: 50%;
    height: 3em;
    margin-top: -1.5em;
  }
}
.greeting-container {
  padding: 0px;
  margin: 0 -1em;
}
.greeting-container .greeting-content {
  padding-left: 0.7em;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  text-align: center;
}
.greeting-container .greeting-content .greeting-name {
  font-family: 'Lato';
}
.greeting-container .greeting-content .greeting-header {
  font-family: 'Exo 2';
  font-size: 1.2em;
}
.milestone {
  text-align: center;
}
.milestone .number {
  font-family: 'Lato';
}
#category-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.category.one {
  background-color: #1d1f26;
}
.category.two {
  background-color: #14161b;
}
.category.three {
  background-color: #0e0f13;
}
.category.banner {
  padding: 1em 0;
  text-align: center;
}
.skill {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.skill h2 {
  cursor: pointer;
}
.skill:hover {
  background-color: #0e76a5 !important;
}
.skill .values {
  background-color: #0e76a5;
}
.skill .values .example {
  width: 100%;
  display: block;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.skill .values .example:hover {
  background-color: #1194ce;
}
#exp-container {
  position: relative;
  display: -webkit-flex;
  display: flex;
}
.experience {
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  position: absolute;
  padding: 0px;
  width: 100%;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.experience h3 {
  padding-bottom: 16px;
}
.experience.selected {
  overflow: scroll;
}
.experience.selected .textbox {
  padding-left: 2em;
}
.experience .textbox {
  -webkit-transition: padding-left 200ms;
  -moz-transition: padding-left 200ms;
  -ms-transition: padding-left 200ms;
  -o-transition: padding-left 200ms;
  transition: padding-left 200ms;
  display: inline-block;
  padding: 3px 8px 3px 8px;
  position: relative;
  background-color: inherit;
  z-index: 6;
}
.experience .textbox h2,
.experience .textbox a {
  display: inline;
  background-color: inherit;
}
@media (min-width: 400px) {
  .experience .textbox h2,
  .experience .textbox a {
    white-space: nowrap;
  }
}
.experience .exp-content {
  font-family: 'Open Sans';
  margin: 1em;
  padding: 1em;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
}
.experience:not(.selected) {
  cursor: pointer;
}
.experience:not(.selected):hover {
  background-color: #0e76a5 !important;
}
.experience.exp1 {
  background-color: #4a5063;
}
.experience.exp2 {
  background-color: #404555;
}
.experience.exp3 {
  background-color: #353a47;
}
.experience.exp4 {
  background-color: #2b2f39;
}
.work {
  margin: 16px 32px;
  background-color: #1194ce;
}
.work .top {
  padding: 16px 16px 0px 0px;
}
.work .top div {
  display: table-cell;
  vertical-align: bottom;
}
.work .top .name-container {
  padding-left: 8px;
}
.work .bottom {
  padding: 0px 16px 16px 16px;
}
.work .bottom .info {
  display: inline;
  padding-left: 16px;
  margin-left: -16px;
  border-top: 1px solid #f5f9fb;
  text-shadow: 0px -1px rgba(12,13,16,0.4);
}
.work .composer {
  padding: 0px 16px 0px 16px;
  background-color: rgba(12,13,16,0.2);
}
.work .composer h1 {
  padding-left: 16px;
  margin-left: -16px;
}
.work .composer h1.hasinfo {
  border-bottom: 1px solid #f5f9fb;
}
.work .name,
.work .key {
  text-shadow: 0px -1px rgba(12,13,16,0.4);
}
.track {
  vertical-align: top;
  position: relative;
  display: inline-block;
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -ms-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
  height: 100%;
  background-color: #000;
}
.track.selected {
  z-index: 100 !important;
}
#experience {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -o-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}
#time-container {
  -webkit-flex: 0 1 6em;
  -moz-flex: 0 1 6em;
  -ms-flex: 0 1 6em;
  -o-flex: 0 1 6em;
  flex: 0 1 6em;
}
#time-container div {
  width: 100%;
  position: absolute;
}
#time-container .month {
  padding-left: 0.5em;
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  border-top: 1px solid #808080;
}
#time-container .year {
  color: #b3b3b3;
}
.close-button {
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #ccc;
  text-shadow: none !important;
  cursor: pointer;
}
.close-button:hover {
  color: #fff !important;
}
.close-button:active {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  color: #aaa !important;
}
.project-specs {
  margin: 1.5em !important;
  position: relative;
}
.project-specs .specs-left {
  width: 100%;
  display: table-cell;
  vertical-align: top;
}
.project-specs .specs-left h1 {
  font-size: 1.2em !important;
  letter-spacing: 0.05em;
}
.project-specs .specs-left ul {
  margin-top: 1em;
}
.project-specs .specs-left ul li {
  padding-bottom: 0.5em;
}
.project-specs .specs-right {
  display: table-cell;
  vertical-align: middle;
}
.project-specs .specs-right .specs-image {
  min-width: 200px;
}
.box,
.image-box {
  margin: 0.5em;
  padding: 1.5em;
  clear: both;
  position: relative;
}
.image-box img {
  width: 100%;
}
.image-box .caption {
  text-align: center;
}
.image-box.center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
