@import url("http://fonts.googleapis.com/css?family=Jura:300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100");
a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgba(241,247,226,0.7);
}
a:visited {
  color: rgba(241,247,226,0.7);
}
a:hover {
  color: #f1f7e2;
}
a:active {
  color: #a9ce4e;
}
body {
  background-color: #202b30;
  font-family: 'Open Sans';
}
div,
body,
header,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
div {
  padding: 0px;
  margin: 0px;
  color: #f1f7e2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans SC';
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
#container {
  clear: both;
}
.project-snippet {
  font-family: 'Alegreya Sans SC';
  text-shadow: 0px -1px rgba(0,0,0,0.2);
  background-color: #202b30;
  padding: 0.1em 0px 0.2em 0.5em;
}
.project-snippet h1 {
  display: inline-block;
}
.project-snippet .desc-item {
  padding-right: 1em;
}
.project-snippet .external-pin {
  float: right;
  font-size: 1.5em;
}
.project-snippet-even {
  background-color: #31424a;
}
.center {
  text-align: center;
}
header {
  padding: 1px 0px;
  background-color: #4e7178;
}
header a {
  text-decoration: none;
  color: rgba(241,247,226,0.7);
}
header a:visited {
  color: rgba(241,247,226,0.7);
}
header a:hover {
  color: #f1f7e2;
}
header a:active {
  color: #a9ce4e;
}
header li {
  padding: 1px 1em;
  font-family: 'Jura';
  font-size: 1.5em;
  text-align: center;
  display: inline;
  text-shadow: 0px -1px rgba(0,0,0,0.2);
}
header li.active {
  background-color: #4fa9b8;
}
header li.active a {
  color: #f1f7e2;
}
ul#left-items {
  display: inline-table;
}
ul#right-items {
  float: right;
}
#post-container {
  clear: both;
}
#post-banner {
  clear: both;
  width: 100%;
  display: table;
  font-family: 'Alegreya Sans SC';
  text-align: center;
  background-position: 50% 50%;
  background-color: #161e22;
  text-shadow: 0px 1px 3px #000, 0px 1px 3px #000, 0px 1px 3px #000;
  height: 10em;
}
#post-banner h1 {
  display: table-cell;
  vertical-align: middle;
}
span.project {
  display: block;
}
