@font-face {
  font-family: 'Olin';
  src: url("/font/olin/olin-webfont.eot");
  src: url("/font/olin/olin-webfont.eot?#iefix") format('embedded-opentype'), url("/font/olin/olin-webfont.woff") format('woff'), url("/font/olin/olin-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.olin:before {
  display: inline-block;
  font-family: Olin;
  content: 'l';
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 0.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: rgba(245,249,251,0.8);
}
a:visited {
  color: rgba(245,249,251,0.8);
}
a:hover {
  color: #f5f9fb;
}
a:active {
  color: #67a4c2;
}
p a {
  text-decoration: none;
  color: #2bb2ed;
}
p a:visited {
  color: #2bb2ed;
}
p a:hover {
  color: #2bb2ed;
}
p a:active {
  color: #478eb1;
}
p a {
  border-bottom: 1px solid rgba(245,249,251,0.5);
}
p a:hover {
  border-bottom: 1px solid #1194ce;
}
p a:active {
  text-shadow: 0px -1px #0c0d10;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #0c0d10;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #f5f9fb;
  height: 100%;
}
.hidden {
  display: none !important;
}
* {
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-variant: small-caps;
}
h4,
h5,
h6 {
  font-family: 'Exo 2';
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.snippet {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 0.1em 0.2em 0.2em 0.5em;
}
.snippet h1,
.snippet h2 {
  font-family: 'Open Sans';
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.snippet h1 {
  font-size: 1em;
}
.snippet h2 {
  font-size: 0.6em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp0 {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 0.1em 0.2em 0.2em 0.5em;
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: auto;
  margin-bottom: 2em;
}
.project.snippet.imp0 h1,
.project.snippet.imp0 h2 {
  font-family: 'Open Sans';
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp0 h1 {
  font-size: 2em;
}
.project.snippet.imp0 h2 {
  font-size: 1.2em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp0 .project.banner {
  position: relative;
}
.project.snippet.imp0 .project.banner .post-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.6), transparent);
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
  z-index: -10000;
}
.project.snippet.imp0 .project-details {
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: #1d2326;
}
.project.snippet.imp0.open {
  background-color: #0c0d10;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  position: fixed;
  z-index: 10000;
}
.project.snippet.imp0.active h1 {
  font-size: 2em;
}
.project.snippet.imp0.active h2 {
  font-size: 1.5em;
}
.project.snippet.imp0.active .date {
  font-size: 1.2em;
}
.project.snippet.imp0.active * {
  margin: 0 auto;
}
.project.snippet.imp0.active .project.banner-content {
  max-width: 868px;
}
.project.snippet.imp0.active .project-details {
  max-width: 900px;
  height: 100%;
}
.project.snippet.imp0.active .post-bg {
  max-width: 900px;
  background-color: #1d2326;
  height: 100%;
}
.project.snippet.imp0 .post-bg {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.project.snippet.imp0 .post-bg .post-banner {
  overflow: hidden;
  width: 100%;
}
.project.snippet.imp0 .project.banner-content {
  cursor: pointer;
  position: relative;
  padding: 1em 16px;
  width: auto;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp0 .project.banner-content h1,
.project.snippet.imp0 .project.banner-content h2 {
  -webkit-transition: font-size 200ms;
  -moz-transition: font-size 200ms;
  -ms-transition: font-size 200ms;
  -o-transition: font-size 200ms;
  transition: font-size 200ms;
}
.project.snippet.imp0 .project.banner-content .post-header {
  color: #f5f9fb;
}
.project.snippet.imp0 .proj-content {
  font-family: 'Open Sans';
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5em;
  margin-bottom: 10em;
  padding-bottom: 1em;
}
.project.snippet.imp0 .proj-content h2 {
  display: block;
  margin-bottom: 0.5em;
}
.project.snippet.imp0 h1 {
  vertical-align: middle;
}
.project.snippet.imp0 .date {
  vertical-align: middle;
  display: inline;
  padding-left: 0.6em;
  white-space: nowrap;
}
.project.snippet.imp0 .desc-container .desc-item {
  white-space: nowrap;
  padding-right: 1em;
}
.project.snippet.imp0 .pin-container {
  float: right;
}
.project.snippet.imp0 .pin-container .external-pin {
  display: inline;
  font-size: 1.4em;
}
.project.snippet.imp1 {
  font-family: 'Open Sans';
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  padding: 0.1em 0.2em 0.2em 0.5em;
  padding: 0px;
  position: relative;
  overflow: hidden;
  width: auto;
  margin-bottom: 2em;
}
.project.snippet.imp1 h1,
.project.snippet.imp1 h2 {
  font-family: 'Open Sans';
  display: inline;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp1 h1 {
  font-size: 1em;
}
.project.snippet.imp1 h2 {
  font-size: 0.6em;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.project.snippet.imp1 .project.banner {
  position: relative;
}
.project.snippet.imp1 .project.banner .post-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.6), transparent);
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
  z-index: -10000;
}
.project.snippet.imp1 .project-details {
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: #1d2326;
}
.project.snippet.imp1.open {
  background-color: #0c0d10;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  position: fixed;
  z-index: 10000;
}
.project.snippet.imp1.active h1 {
  font-size: 2em;
}
.project.snippet.imp1.active h2 {
  font-size: 1.5em;
}
.project.snippet.imp1.active .date {
  font-size: 1.2em;
}
.project.snippet.imp1.active * {
  margin: 0 auto;
}
.project.snippet.imp1.active .project.banner-content {
  max-width: 868px;
}
.project.snippet.imp1.active .project-details {
  max-width: 900px;
  height: 100%;
}
.project.snippet.imp1.active .post-bg {
  max-width: 900px;
  background-color: #1d2326;
  height: 100%;
}
.project.snippet.imp1 .post-bg {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.project.snippet.imp1 .post-bg .post-banner {
  overflow: hidden;
  width: 100%;
}
.project.snippet.imp1 .project.banner-content {
  cursor: pointer;
  position: relative;
  padding: 0.5em 16px;
  width: auto;
  text-shadow: 0px 1px rgba(12,13,16,0.6);
}
.project.snippet.imp1 .project.banner-content h1,
.project.snippet.imp1 .project.banner-content h2 {
  -webkit-transition: font-size 200ms;
  -moz-transition: font-size 200ms;
  -ms-transition: font-size 200ms;
  -o-transition: font-size 200ms;
  transition: font-size 200ms;
}
.project.snippet.imp1 .project.banner-content .post-header {
  color: #f5f9fb;
}
.project.snippet.imp1 .proj-content {
  font-family: 'Open Sans';
  opacity: 0;
  overflow: hidden;
  padding: 0 1.5em;
  margin-bottom: 10em;
  padding-bottom: 1em;
}
.project.snippet.imp1 .proj-content h2 {
  display: block;
  margin-bottom: 0.5em;
}
.project.snippet.imp1 h1 {
  vertical-align: middle;
}
.project.snippet.imp1 .date {
  vertical-align: middle;
  display: inline;
  padding-left: 0.6em;
  white-space: nowrap;
}
.project.snippet.imp1 .desc-container .desc-item {
  white-space: nowrap;
  padding-right: 1em;
}
.project.snippet.imp1 .pin-container {
  float: right;
}
.project.snippet.imp1 .pin-container .external-pin {
  display: inline;
  font-size: 1.4em;
}
.center {
  text-align: center;
}
.accent,
.greeting-container .greeting-content .greeting-name,
.milestone .number {
  text-shadow: none;
  color: #1194ce;
  font-size: 3em;
  font-weight: 300;
}
.hidden {
  display: none;
}
header {
  padding: 0px 0px;
  background-color: #1d2326;
}
header a {
  text-decoration: none;
  color: rgba(245,249,251,0.7);
}
header a:visited {
  color: rgba(245,249,251,0.7);
}
header a:hover {
  color: #f5f9fb;
}
header a:active {
  color: #67a4c2;
}
header li {
  padding: 0px;
  font-family: 'Exo 2';
  font-size: 1.4em;
  text-align: center;
  text-shadow: 0px -1px rgba(0,0,0,0.2);
}
@media (min-width: 560px) {
  header li {
    padding: 0px 1em;
    display: inline;
  }
}
header li.active {
  background-color: #1194ce;
}
header li.active a {
  color: #f5f9fb;
}
#container {
  overflow: hidden;
  position: relative;
  background-color: #14151a;
  min-height: 100%;
  padding-bottom: 120px;
  margin: auto;
  max-width: 900px;
}
#content-container {
  padding: 0 1em;
}
footer {
  clear: both;
  width: 100%;
  display: table;
  position: relative;
  z-index: 2;
  height: 120px;
  margin-top: -120px;
  font-size: 1.1em;
  background-color: #1194ce;
}
footer #content {
  padding: 2em;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
  color: #95d8f6;
  text-align: center;
  text-shadow: 0px -1px #14151a;
}
footer #content .contact {
  line-height: 3em;
}
footer #content .contact div {
  display: inline;
  padding: 0.5em;
}
footer #content a {
  text-shadow: 0px 1px #14151a;
}
footer #content a:hover {
  color: #f5f9fb;
}
footer #content a:active {
  color: #f5f9fb;
  text-shadow: 0px -1px #14151a;
}
.column-container {
  width: 100%;
  display: table;
}
.column {
  display: table-cell;
  width: 1%;
  position: relative;
}
@media (max-width: 700px) {
  .column {
    display: block;
    width: 100%;
  }
}
.banner-content {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.banner-bg {
  width: 100%;
}
.about.banner {
  text-align: center;
  padding: 1em 0;
  height: 5em;
}
.about.banner-content {
  font-size: 1.1em;
}
.about.banner-bg i {
  font-size: 5em;
  color: #1d2326;
}
.index-banner {
  width: 100%;
}
.index-banner h1 {
  font-size: 2em;
  background-color: #0c0d10;
  text-align: center;
}
.index-banner img {
  width: 100%;
  height: auto !important;
}
.post.banner {
  overflow: hidden;
  position: relative;
}
.post.banner-content {
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
@media (min-width: 700px) {
  .post.banner-content {
    top: 50%;
    height: 3em;
    margin-top: -1.5em;
  }
}
.greeting-container {
  padding: 0px;
  margin: 0 -1em;
}
.greeting-container .greeting-content {
  padding-left: 0.7em;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  text-align: center;
}
.greeting-container .greeting-content .greeting-name {
  font-family: 'Lato';
}
.greeting-container .greeting-content .greeting-header {
  font-family: 'Exo 2';
  font-size: 1.2em;
}
.milestone {
  text-align: center;
}
.milestone .number {
  font-family: 'Lato';
}
#category-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.category.one {
  background-color: #1d1f26;
}
.category.two {
  background-color: #14161b;
}
.category.three {
  background-color: #0e0f13;
}
.category.banner {
  padding: 1em 0;
  text-align: center;
}
.skill {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.skill h2 {
  cursor: pointer;
}
.skill:hover {
  background-color: #0e76a5 !important;
}
.skill .values {
  background-color: #0e76a5;
}
.skill .values .example {
  width: 100%;
  display: block;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.skill .values .example:hover {
  background-color: #1194ce;
}
#exp-container {
  position: relative;
  display: -webkit-flex;
  display: flex;
}
.experience {
  text-shadow: 0px 1px rgba(12,13,16,0.6);
  position: absolute;
  padding: 0px;
  width: 100%;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.experience.selected {
  overflow: scroll;
}
.experience .textbox {
  padding: 0.1em 0.2em 0.2em 0.5em;
  position: relative;
  background-color: inherit;
  z-index: 6;
}
.experience .textbox h2,
.experience .textbox a {
  display: inline;
  width: 100%;
  padding-right: 0.2em;
  background-color: inherit;
}
@media (min-width: 400px) {
  .experience .textbox h2,
  .experience .textbox a {
    white-space: nowrap;
  }
}
.experience .exp-content {
  font-family: 'Open Sans';
  margin: 1em;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
}
.experience:hover {
  background-color: #0e76a5 !important;
}
.experience.selected {
  padding: 0px 1em;
}
.experience.exp1 {
  background-color: #353a47;
}
.experience.exp1.selected:hover {
  background-color: #353a47 !important;
}
.experience.exp2 {
  background-color: #2b2f39;
}
.experience.exp2.selected:hover {
  background-color: #2b2f39 !important;
}
.experience.exp3 {
  background-color: #21232c;
}
.experience.exp3.selected:hover {
  background-color: #21232c !important;
}
.experience.exp4 {
  background-color: #16181e;
}
.experience.exp4.selected:hover {
  background-color: #16181e !important;
}
.work .top *,
.work .bottom * {
  display: inline;
}
.track {
  vertical-align: top;
  position: relative;
  display: inline-block;
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -ms-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
  height: 100%;
  background-color: #14151a;
}
.track.selected {
  z-index: 100 !important;
}
#experience {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -o-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}
#time-container {
  -webkit-flex: 0 1 6em;
  -moz-flex: 0 1 6em;
  -ms-flex: 0 1 6em;
  -o-flex: 0 1 6em;
  flex: 0 1 6em;
}
#time-container div {
  width: 100%;
  position: absolute;
}
#time-container .month {
  padding-left: 0.5em;
  font-family: 'Open Sans';
  color: #515569;
  border-top: 1px solid #7c819a;
}
#time-container .year {
  color: #b0b3c2;
}
.project-specs {
  margin: 1.5em !important;
  position: relative;
}
.project-specs .close-button {
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  text-align: center;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 30px;
  height: 30px;
  color: #576871;
  text-shadow: 0px -1px #0c0d10;
  cursor: pointer;
}
.project-specs .close-button:hover {
  color: #1194ce !important;
}
.project-specs .close-button:active {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  color: #084a67 !important;
}
.project-specs .specs-image {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  .project-specs .specs-image {
    position: absolute;
    right: 1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
  }
}
.project-specs .specs-content {
  text-align: center;
}
@media (min-width: 600px) {
  .project-specs .specs-content {
    display: inline-block;
    vertical-align: top;
    min-height: 180px;
    text-align: left;
    padding-top: 0.5em;
  }
}
.project-specs .specs-content li {
  padding: 0.5em;
}
.box,
.image-box {
  background-color: #14151a;
  margin: 0.5em;
  padding: 1.5em;
  clear: both;
  position: relative;
}
.image-box img {
  width: 100%;
}
.image-box .caption {
  text-align: center;
}
.image-box.center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
