---
active: project
---

{% include header.html %}
<div bannerPosition="{{ page.banner-position }}" class="post banner {{ page.shade }}">
	<div class="post banner-content">
		<h1>{{ page.title }}</h1>
	</div>
	<img id="post-banner" src="/img/{{ page.short }}/banner.{{ page.banner-type }}">
</div>
<div id="post-container">
	<h1>{{ page.header[0] }}</h1>
	<p>{{ page.header[1] }}</p>
	{% if page.specs %}
	<h2>The Project</h2>
	<p><ul>
		{% for spec in page.specs %}
		<li><i class="fa fa-fw fa-{{ spec[0] }}"></i> {{ spec[1] }}</li>
		{% endfor %}
	</ul></p>
	{% endif %}
	{{ content }}
</div>
{% include footer.html %}