@import url('http://fonts.googleapis.com/css?family=Open+Sans:300')

// Mixins

a-color(color)
	a
		text-decoration none
		color color
		:hover
			color color
		:visited
			color color
		:highlighted
			color color

margin-not(margin, except)
	margin margin
	margin-{except} 0

transform()
	transform arguments
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments

// Animation
quickly = 100ms
slowly = 500ms

// Colors
bg-color = #000000
text-color = white

// Modifiers

.hover
	transition-timing-function cubic-bezier(.83,.02,.52,.57)
	transition -webkit-transform slowly
	&:hover
		transform scale(1.03)

.advance
	transition-timing-function cubic-bezier(.83,.02,.52,.57)
	transition -webkit-transform slowly
	&:hover
		transform translate(.5em, 0em)

// Global config

a text-decoration none

body
	background-color bg-color

div, body, header, h1, img, ul, li, h1, div
	padding 0px
	margin 0px

	font-family 'Open Sans'
	color text-color

p line-height line-height

ul
	list-style-type none

// Global Layout

header
	padding-left 2em
	padding-right 2em
	color white
	h1
		font-size 10em
		border-bottom 1px solid white

	a-color(white)

div.container
	width 100%
	overflow hidden
	background-color bg-color

// Splash

ul.splash
	position relative
	width 50%
	li
		font-size 2em
		text-align center
		display inline-block
		width (100/3.1)%

// Projects

div.project
	background-color white
	height 300px
	display inline-block
	overflow hidden

	img
		height 100%