@import url('http://fonts.googleapis.com/css?family=Jura:300');

// Mixins
a-color(color, hover, active)
	a
		text-decoration none
		color color
		&:visited
			color color
		&:hover
			color hover
		&:active
			color active

transform()
	transform arguments
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments

// Animation
quickly = 100ms
slowly = 500ms

// Colors
dark-blue = rgb(32, 43, 48)
dark-gray = rgb(78, 113, 120)
bright-blue = rgb(79, 169, 184)
light-blue = rgb(116, 192, 207)
off-white = rgb(241, 247, 226)

text-color = off-white
bg-color = dark-blue

// Modifiers

// Global config

a
	text-decoration none

body
	background-color bg-color

div, body, header, h1, img, ul, li, h1, div
	padding 0px
	margin 0px

	font-family 'Jura'
	color text-color

p line-height line-height

// Global Layout

header
	display block
	padding-left 2em
	padding-right 2em
	background-color dark-gray

	a-color(rgba(text-color, 70%), text-color, darken(text-color, 40%))

ul#left-items
	display inline
	font-size 1.5em
	li
		padding 0px 1em
		text-align center
		display inline-block

ul#right-items
	float right

	font-size 1.5em
	li
		padding 0px 1em
		text-align center
		display inline-block

style-header(right)

div.container
	overflow hidden
	background-color bg-color

p
	line-height line-height

// About

#pockets img
	width 50%
	li
		font-size 2em
		text-align center
		display inline-block
		width (100/3.1)%
#pockets img
	display inline
	width 30%

// Projects

div.project
	height 300px
	display inline-block
	overflow hidden

	img
		transition -webkit-transform slowly, opacity slowly
		height 100%